.card{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    overflow: hidden;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.7);
    text-align: center;
}

.card_header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.card_img{
    background-color: white;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card_body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card_body h6{
    padding: 3px;
    margin: 0;
    height: 100%;
}

.card_body_subtitle{
    color: orange;
}

.card_footer{
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr;
}

@media screen and (max-width: 480px){    
    .card_body, .card_footer{
        padding: 5px 2px;
    }
}