.cardCerveza{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.7);
    text-align: center;    
}

.cardCerveza_header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.cardCerveza_img{
    background-color: white;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cardCerveza_img:hover{
    opacity: 0.5;
    cursor: pointer;
}

.cardCerveza_body{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background: -webkit-linear-gradient(180deg , #499e15, #005333,#9e7d10);
    height: 100%;
    width: 100%;
    font-size: 1rem;
}

.carCerveza_body_subtitle{
    color: orange;
}

.cardCerveza_footer{
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr;
}

@media screen and (max-width: 480px){    
    .cardCerveza_body, .cardCerveza_footer{
        padding: 5px 2px;
    }
}