.cervezasMain{
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    padding: 2rem;
}

.divTitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.divButtonAdd{
    height: 100%;
    align-items: center;
    padding-right: 1rem;
}

@media screen and (max-width: 800px){    
    .cervezasMain{
        grid-template-columns: repeat(3, 1fr);        
        padding: .2rem;
    }
}

@media screen and (max-width: 480px){    
    .cervezasMain{
        grid-template-columns: repeat(2, 1fr);        
        padding: .2rem;
    }
}