.grillaMain{
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 1rem;
    padding: 2rem;
}

@media screen and (max-width: 800px){    
    .grillaMain{
        grid-template-columns: repeat(6, 1fr);        
        padding: .2rem;
    }
}

@media screen and (max-width: 480px){    
    .grillaMain{
        grid-template-columns: repeat(4, 1fr);        
        padding: .2rem;
    }
}

@media screen and (max-width: 360px){    
    .grillaMain{
        grid-template-columns: repeat(3, 1fr);        
        padding: .2rem;
    }
}