.divButtonAdd{
    height: 100%;
    align-items: center;
    padding-right: 1rem;
}

@media screen and (max-width: 480px){    
    .cardCerveza_body, .cardCerveza_footer{
        padding: 5px 2px;
    }
}